:root{
    --naranja:#FFA43A;
    --amarillo:#FFBF75;
    --azul:#759EFF;
    --cielo:#75C7FF;
    --gris:#525558;
    --black:#000000;
}


/* Estilos para el ícono del Menú */
.icono-menu{
    
    width: 20%;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1em;
    
}


/* Estilos para el contenedor del Menú */
.cont-menu{
    background-color: var(--amarillo);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index: 2;
}

/* Estilos por agregar en JavaScript */
#menu.active{
    transform: translate(-100%);
    
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    
}

.cont-menu ul li {
    color: red;
    display: block;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}



.cont-menu ul li.liPiano:hover{
    background-color: var(--naranja);
    
}

.cont-menu ul li.liMarimba:hover{
    background-color: var(--naranja);
    
}

.cont-menu ul li.liDrum:hover{
    background-color: var(--naranja);
    
}

.fondo{
    position: fixed;
    background-image: url(../img/fondoInicio.jpg);
    background-position: center center ;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.logo{
    display: flex;
    position: absolute;
    background-size: cover;
    opacity: 0.9;
    width: 50% ;
    height: 100vh;
    top: 0;
    left: 30%;
    z-index: 1;
}






/*Se organiza el tamaño de las imagenes*/

.liImg{
    width: 40%;
    height: 20vh;
    margin-left: 30%;

}

.liPiano{
    width: 100%;
    z-index: 1;
    padding: 0%;
    

}


.liMarimba{
    width: 100%;
    z-index: 1;
    padding: 0%;
    

}


.liDrum{
    width: 100%;
    z-index: 1;
    padding: 0%;


}

/*Estilos boton inicio*/
li.btnInicio{
    display: flex;
    text-align: center;
    
}



#btnInicio {
    width: 140px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
}

#btnInicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: var(--cielo);
    z-index: -1;
    transition: all 0.5s;
}

#btnInicio:hover::before {
    width: 100%;
}

#btnInicio:hover {
    color: var(--black);
}

#btnInicio:active:before {
    background: #b9b9b9;
}

    

@media(max-width:640px){
    .cont-menu{
        background-color: var(--amarillo);

    }


    .logo{
        top: 0;
        left: 0;
        display: flex;
        position: absolute;
        background-size: cover;
        max-width: max-content;
        max-height: max-content;
        
        width: 100%;
        height: 100vh;
        z-index:1;
    }


    
    .icono-menu{
    
        
        z-index: 10;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 20px;
        width: fit-content;
    }

    
}


