*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.grid-container{
    display: grid;
    background-color: brown;
    grid-template-columns: 15% 85%;
    height: 100vh;
}

.menu{
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: red;
    border: 4px black solid;
}
.contenido{
    width: 100%;
    background-color: aqua;
}

.btn-menu{
    width: 100%;
    height: 25vh;
}

.btn-piano {
    width: 100%;
    height: 25vh;
    background-color:transparent;
    border: 4px black solid;
}
.btn-marimba {
    width: 100%;
    height: 25vh;
    background-color:transparent;
    border: 4px black solid;
}
.btn-drum{
    width: 100%;
    height: 25vh;
    background-color:transparent;
    border: 4px black solid;
}