*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --naranja:#FFA43A;
    --amarillo:#FFBF75;
    --azul:#759EFF;
    --cielo:#75C7FF;
    --gris:#525558;
    --black:#000000;
}


.grid-container{
    display: grid;
    background-color: #FFBF75;
    grid-template-columns: 15% 85%;
    height: 100vh;
}

.menu{
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #FFBF75;
    border: 4px black solid;
}
.contenido{
    width: 100%;
    background-color: aqua;
}

.btn-menu{
    width: 100%;
    height: 10vh;
    background-color: #FFA43A;
}

.btn-piano {
    width: 100%;
    height: auto;
    border: 4px black solid;
    background-color: var(--amarillo);
}

.btn-piano:active{
    background-color: #759EFF;
}

.btn-marimba {
    width: 100%;
    height: auto;
    background-color:transparent;
    border: 4px black solid;
}

.btn-marimba:active{
    background-color: #759EFF;
}

.btn-drum{
    width: 100%;
    height: auto;
    background-color:transparent;
    border: 4px black solid;
}
.btn-drum:active{
    background-color: #759EFF;
}

/*tamañano de las imagenes*/
.btn-piano .piano{
    width: 80%;
    height: 80%;
}

.btn-marimba .marimba {
    width: 80%;
    height: 80%;
}

.btn-drum .drum {
    width: 80%;
    height: 80%;
}

/*Configuracion menu*/

.btn-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight:bolder;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.bi-list{
    font-size: 50px;
    font-weight:bolder;
}

.contenido {
   background-color:#75C7FF ;
    
}

.backround-image {
    background-image: url(/PaginaWebMusical/img/fondoInicio.jpg);
    background-position: center center ;
    background-size: cover;
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    
    
}